/* onboarding page */

body {
  margin: 0;
  font-family: 'Nobile', sans-serif;
  font-size: 1em;
  background-color: #FFFFFF;

}

.btn {
  font-family: 'Nobile', sans-serif;
  cursor:pointer;
  box-shadow: 1px 2px 4px rgba(242, 97, 87, .5);
  background-color:#F26157;
  width: 10em;
  height: 3em;
  border-radius: 1em;
  border-style: none;
  color: #F7F4F3;
  font-size: 1em;
  font-weight: bold;
}

.btn:hover{
  transform:translateY(-3px);

}


.header {
  font-family: "Nobile", sans-serif;
  margin-top: 0;
  padding-top: 1em;
  font-size: 2.7em;
  font-weight: bold;
  text-align: center;
  color: #F26157;
}

.background {
  height: 30vh;
  background-image: url("../assets/food-background.jpeg");
  background-size: 100%;
  z-index:0;
  grid-row: 1/ span 2;
  grid-column: 1/span 3;
  align-self: stretch;
}

.container__main-content{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-row-gap:0;
  height: 70vh;
  background-color: white;
  padding-bottom: 2em;
  border-radius:2em 2em 0 0;
  z-index: 5;
  grid-column: 1/span 3;
  grid-row: 2/span 3;
}
.onboarding__main-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 1fr 0.5fr;
  grid-row-gap:0;
  height: 100vh;
  background-color: white;
  padding-bottom: 2em;
}


.header__onboarding {
  grid-column: 3 / span 2;
  grid-row: 1 / span 1;
  justify-self: center;
  font-size: 2.5em;
}

.paragraph__onboarding__one {
  justify-self: right;
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
}

.paragraph__onboarding__two {
  grid-column: 5 / span 2;
  grid-row: 4 / span 1;
}

.paragraph__onboarding__three {
  grid-column: 3 / span 2;
  grid-row: 6 / span 1;
  justify-self: center;
}

.form__onboarding__form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-column: 2 / span 4;
  grid-row: 8 / span 1;
}


.btn__onboarding__view-plans{
  margin: 0.5em;
  font-size: 0.8em;
  width: 15em;
}

.btn__onboarding__new-plan{
    margin: 0.5em;
    font-size: 0.8em;
    width: 15em;
}

/* all meal plans page */

/* .meal-plans__main-section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
} */
