.header__ingredients__individual-recipe {
  color: #F26157;
}

.individual-recipe__section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 1fr 0.5fr;
  grid-row-gap:0;
  height: 100vh;
  background-color: white;
  padding-bottom: 2em;
}

.container__main-content__individual-recipe{
  padding-bottom: 2em;
  border-radius:2em 2em 0 0;
  z-index: 5;
  grid-column: 1/span 3;
  grid-row: 2/span 3;
  background-color: white;
}

.headers__container__individual-recipe {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.instructions__individual-recipe {
  padding: 1.5em;
  font-size: 0.9em;
}

.ingredients__list__individual-recipe {
  text-transform: capitalize;
  margin-bottom: 2em;
}
