h2 {
  color: #F26157;
}


.individual-recipe__section{
  background-color: #F7F4F3;
  padding: 1.2em;
}

.headers__container__individual-recipe{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.instructions__individual-recipe{
  padding: 1.5em;
  font-size: 0.9em;
}

.ingredients__list__individual-recipe {
  text-transform: capitalize;
  margin-bottom: 2em;
}
