.container__pick-recipes{
  height: 30vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin: 2em;
  background-color: #f2edeb;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  border-radius: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
}

.recipe-image__newplan{
  position: relative;
  max-width: 6em;
  border-radius: 1em;
  grid-column: 1/span 2;
  grid-row: 2/span 2;
  align-self: center;
  justify-self: center;
}

.recipe-title__newplan{
  grid-column: 2/span 5;
  grid-row: 1/span 1;
  font-size: 1em;

}

.recipe-time__newplan{
  grid-column: 6/span 1;
  grid-row: 2/span 2;
  align-self: center;
  justify-self: center;
  font-size:1.5em;
}

.recipe-health__newplan{
  grid-column: 4/ span 1;
  grid-row: 2/span 2;
  align-self: center;
  justify-self: center;
  font-size:1.5em;
}

.btn__newplan-select{
  grid-column: 3/span 3;
  grid-row: 4/span 1;
  width: 8em;
  height: 3em;
  align-self: center;
  justify-self: center;

}

.image__timer-icon{
  max-width: 2em;
  grid-column: 5/span 1;
  grid-row: 2/span 2;
  align-self: center;
  justify-self: center;
}
.image__health-icon{
  margin-left: 1em;
  grid-column: 3/ span 1;
  grid-row: 2/span 2;
  max-width: 2em;
  align-self: center;
  justify-self: center;
}

.btn__back__new-plan{
  height:3em;
  width:8em;
}

.btn__next__new-plan{
  height:3em;
  width:8em;
}
.container__next-back-buttons{
  display: flex;
  justify-content: space-around;
}

.form__newplan__load-more{
  display: flex;
  justify-content: center;
  padding-top: 2em;
  padding-bottom:2em;
}
