.headers__unique-meal-plan__container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  width:70%;
  height:auto;
  background-color:rgb(236, 232, 232);
  border-radius:5em;
  padding: 20px;
  margin: 30px;

}

.header__recipe-title{
  display:flex;
  flex-direction:column;
  align-items: center;
  font-size:1.5em;
  margin-bottom: 0;
  font-weight: bold;

}

.unique-meal-plan__days{
  font-size:1.5em;
  font-style: italic;
}

/* ---- */

.form-buttons {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;

}

.meal_plan_container {
  background-color:rgb(236, 232, 232);
  display:flex;
  width:70%;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  border-radius:2em;
  padding: 20px;
  margin: 20px;
  flex-wrap: wrap;
  position: absolute; */
/* width: 214px;
height: 104px;
left: 70px;
top: 191px; */

}

/* .form__unique-meal-plan{
  display: none;
} */

.recipe_info_svg {
  /* background-color: red; */
  width: 2em;
  height: 2em;
  padding: 15px;
}

.recipe_timer_svg {
  width: 2em;
  height: 2em;
}
