

<section class="onboarding__main-section">
<div class="background background_onboarding__image"> </div>

  <!-- <img class="onboarding__logo" src="/assets/NomNom-logo-right.png"> -->
<div class=container__main-content>
  <h1 class="header header__onboarding" style="display: none">Nom Nom</h1>
  <img class="header header__logo" src="/assets/NomNomLogo.png">

  <img src="/assets/onboarding1.png" class="paragraph paragraph__onboarding__one" alt="Pick 2 recipes"></img>
  <img src="/assets/onboarding2.png" class="paragraph paragraph__onboarding__two" alt="Get meal ideas with common ingredients"></img>
  <img src="/assets/onboarding3.png" class="paragraph paragraph__onboarding__three" alt="Create a weekly plan and reduce food waste"></img>

  <!-- <p class="paragraph paragraph__onboarding__one">Pick 2 recipes</p>
  <p class="paragraph paragraph__onboarding__two">Get meal ideas with common ingredients</p>
  <p class="paragraph paragraph__onboarding__three">Create a weekly plan and reduce food waste</p> -->

  <form action="/mealplans" class="form form__onboarding__form">
    <input type="submit" value="View all plans" class="btn btn__onboarding__view-plans">
    <input type="submit" value="New plan" formaction="/newplan" class="btn btn__onboarding__new-plan">
  </form>
</div>
</section>
