<section class="background background_onboarding__image"> </section>

<section class="onboarding__main-section">

  <!-- <img class="onboarding__logo" src="/assets/NomNom-logo-right.png"> -->
  <h1 class="header header__onboarding">Nom Nom</h1>

  <p class="paragraph paragraph__onboarding__one"> Pick 2 recipes</p>
  <p class="paragraph paragraph__onboarding__two"> Get meal ideas with common ingredients</p>
  <p class="paragraph paragraph__onboarding__three"> Create a weekly plan and reduce food waste</p>

  <form action="/mealplans" class="form form__onboarding__form">
    <input type="submit" value="View all plans" class="btn btn__onboarding__view-plans">
    <input type="submit" value="New plan" formaction="/newplan" class="btn btn__onboarding__new-plan">
  </form>

</section>
