<section class="onboarding__image"> </section>

<section class="onboarding__main-section">
  <h1 class="onboarding__header">Nom Nom</h1>

  <p class="onboarding__content__one"> Pick 2 recipes</p>
  <p class="onboarding__content__two"> Get meal ideas with common ingredients</p>
  <p class="onboarding__content__three"> Create a weekly plan and reduce food waste</p>

  <form action="/mealplans" class="onboarding__form">
    <input type="submit" value="View all plans" class="onboarding__view-plans">
    <input type="submit" value="New plan" formaction="/newplan" class="onboarding__new-plan">
  </form>

</section>
