<section class="background background__image-meal-plans"></section>

<section class="meal-plans__main-section">
  <div class="heading-meal-plans">

  <h1 class="header header__meal-plans">Meal Plans</h1>

   <form action="/newplan" class="meal-plans__form">
    <input type="submit" value="New plan" class="btn btn__meal-plans__new-plan">
    </form>

  {{!-- <input class="meal-plans__search" type="text" name="search-meal-plans"> --}}

  </div>
  {{#each mealPlan}}

<div class="meal-plan-container">
  <h2 class="header__meal-plan">{{this.plan_name}}</h2>
  <div class="info__container"></div>
  <span class="paragraph paragraph__ meal-plan__days">{{this.plan_days}} day plan</span>
  <a class="link link__meal-plan" href="/unique-meal-plan/{{this.id}}">View plan</a>
  </div>
</div>
  <!-- <input type="submit" value="View plan">
  </form> -->
  {{/each}}

 



</section>