<section>

  <h1 class="meal-plans__header">Meal Plans</h1>

  <input type="text" name="search-meal-plans" class="meal-plans__search">

  <form action="/newplan" class="meal-plans__form">
    <input type="submit" value="New plan" class="meal-plan__new-plan">
  </form>


</section>