<head>
  <meta charset="utf-8" />
  <title>NomNom</title>
  <!-- <meta name="description" content="" /> -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css?family=Overlock&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/uniqueMealPlan.css" />
  <link rel="stylesheet" href="/css/home.css" />
  <link rel="stylesheet" href="/css/mealplans.css" />
  <link rel="stylesheet" href="/css/newPlan.css" />
  <link rel="stylesheet" href="/css/newplanAdditionalChoices.css" />
  <link rel="stylesheet" href="/css/individualRecipe.css" />
  <link rel="stylesheet" href="/css/shoppingList.css" />

  {{!-- <link rel="shortcut icon" href="#" /> --}}
</head>
