<section>
{{#each recipes.recipes}}

<img src="{{this.image}}">
<h1 class="headers headers__recipe-title">{{this.title}}</h1>
<span class="recipe-time">{{this.readyInMinutes}} minutes</span>
<button class="btn btn__recipe-info"> i </button>
<input class="checkbox__recipe-selected" type="checkbox" value="checked"> -->
{{/each}}


</section>
